body{
    background-color: chartreuse;
    position: static;
}
.container{
    max-width: 400px;
    margin: 100px auto 0 auto;
   border: 2ps solid black;
    box-shadow: 0px 1px 10px 5px rgb(255, 0, 0);
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;

    
    
}
.display{
    text-align: right;
    height: 70px;
    padding: 16px;
    font-size: 25px;
    background-color: black;
    color: white;
    position: static;
    
    
}
.buttons{
    display: grid;
    grid-template-columns:100px 100px 100px 100px ;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid white;
    margin: 5px;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 600;
    font-style: oblique;
    cursor: pointer;

   



 

    
}
.button{
    padding: 10px;
    display: grid;
   
  display: block;
margin: 20px;
margin-right: 20px;
padding-left: 0px;
border-top: 1px solid 1px solid wheat;
border-bottom: 1px 1px solid wheat;
border-left: 1px 1px solid black;
border-bottom: 1px 1px solid wheat;
border-right: 1px solid wheat;
 padding: 20px;
 cursor:pointer;
 

}
.display{
    border-bottom: 1px solid whitesmoke;
}
.button{
  border-bottom: 1px solid whitesmoke;
  margin-right: 50px;
}
.button{
    border-left: 1px solid whitesmoke;
    padding-right:40px;
}
.button:hover{
    background-color: black;
    transition: ease-in-out;
    color: white;
}
.buttons{
    margin: 0px;
    
    
}
.djoe{
    display: flex;
    margin-left: 1000px;
    font-size: 50px;
    background-color: red;
    color: white;
    cursor: pointer;

}
.djoe{
    margin-top: -200px;
}
.happy{
    background-color: black;
    margin-top: 100px;
    position: absolute;
    height: 50px;
    width: 100x;
    padding-top: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    text-transform: uppercase;
   

}



